main{
    position: relative;
}

main img{
    width: 100%;
}

main section{
    position: absolute;
    top: 143px;
    background-color:rgba(255, 255, 255, 0.95);
    padding: 39px 42px;
    width: 506px;   
}

input {
    padding: 17px 0px 13px 17px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: var(--color-grey-5);
    font-size: var(--font-2);
    font-weight: var(--weight-5);
}

.input-alert {
    border: 1px solid var(--color-alert);
}